*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background: black; */
    
    
}
body{
    background-color: #ffffff;
}
#nav{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: sticky;
    
    
}
#nav-opt{
    display: flex;
    flex-wrap: wrap;
}
#nav-opt>a{
    text-decoration: none;
    margin-left: 18px;
    color: black;
    font-size: 18px;
    
}
#nav-opt>a:hover{
   /* text-decoration: underline; */
   color: blueviolet;
   font-weight: bolder;
   font-size: 20px;
}
#intro-sec{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 24px;
    border-bottom: 1px solid;
    color: white;
   
   
}
#hello{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 16px;
    border-radius: 8px;
}
.java{
    color: blueviolet;
    overflow: hidden; 
  border-right: .15em solid white; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  #intro-sec>#img1{
    display: flex;
    justify-content: space-around;
    
    
  }
#intro-sec>#img1>img{
    width:50%;

    
}
#download-resume{
    display: flex;
    justify-content: space-around;
}
#download-resume>p{
    border: 1px solid;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
    
}
#download-resume>p:hover{
    color: white;
    background-color: blueviolet;
}
#about-sec-head{
    width: 80%;
    margin: auto;
    padding: 16px;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 24px;

}
#about-sec{
    width: 80%;
    margin: auto;
    padding: 16px;
    border-bottom: 1px solid;
}
#about{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* padding: 16px; */
}
#about-detail{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#about>#img2>img{
    width:50%;
    
}
#view-profile{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
}
#view-profile>p:nth-child(1){
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 4px;
}
#view-profile>p:nth-child(2){
    padding: 8px 24px;
    border: 1px solid;
    color: black;
    border-radius: 4px;
}

#skills-sec{
    width: 80%;
    margin: auto;
    padding: 16px;
    border-bottom: 1px solid;
}
#skill{
    
    display: grid;
    padding: 16px;
    /* justify-content: space-around; */
    align-items: center;
    gap: 12px;
    grid-template-columns: repeat(4,1fr);

}
#skill>div>img{
    width: 40%;
}
#project-head{
    width: 80%;
    margin: auto;
    margin-top: 24px;
}
#project-sec{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    margin-top: 24px;
    padding: 16px;
    border-bottom: 1px solid;
}
#project-sec>div{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.project>img{
    width: 100%;
}
.project+div{
    display: flex;
    justify-content: space-around;
}
.project+div>button{
    padding: 8px 24px;
    border: none;
    color: white;
    border-radius: 8px;
    background-color: blueviolet;
}
#contact-head{
    width: 80%;
    margin: auto;
    margin-top: 24px;
}
#contact-sec{
    width: 80%;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}
.input1{
    width: 100%;
}
.input2{
    width: 100%; 
    height: 200px;
}
#contact-sec>button{
    padding: 8px 24px;
    color: white;
    border: none;
    font-weight: bold;
    background-color: blue;
    margin-top: 8px;
    border-radius: 8px;
}
#footer{
    width: 80%;
    margin: auto;
    margin-top: 24px;

}
#footer>p{
    text-align: center;
    color: grey;
    border-top: 1px solid;
}