*{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
body{
    width: 60%;
    margin: auto;
    
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
#navbar>div{
    padding: 8px;
}
#navbar>div>h1{
    border: 1px solid;
    padding: 4px;
}
.nav_opt{
    display: flex;
    
}
.nav_opt>a{
    margin-right: 24px;
    text-decoration: none;
}
.top{
    display: flex;
    justify-content: space-around;
    
}
.top_img{
    width: 40%;
}
.top_img>img{
    width: 80%;
    border-radius: 12px;
}
.top_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top_details>h2{
    font-size: 28px;
    letter-spacing: 3px;
    margin: 8px;
    
}
.top_details>h3{
    font-size: 18px;
    margin: 8px 0px;
    color: rgb(255, 190, 70);
    overflow: hidden; 
    border-right: .15em solid white; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.grey_text{
    color: grey;
    font-size: 16px;
    line-height: 25px;
}
#about>p{
    margin-top: 16px;
}
/* Project Section  */
.project{
    display: flex;
    gap: 24px;
    padding: 12px;
    margin-top: 12px;
}
.p_head{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 12px;
   
}
.p_head>a{
    text-decoration: none;
    border: 1px solid;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    width: fit-content;
    
}
.p_img{
    width: 80%;
    margin-bottom: 16px;
    border-radius: 4px;
    opacity: 95%;
}
.p_img:hover{
    opacity: 60%;
}
.p_detail{
   /* border: 1px solid; */
   padding: 8px 16px;
   width: 62%;
}
.p_detail>p{
    margin-top: 16px; 
}
.p_detail>p+p{
    font-size: 18px;
    font-weight: bold;
    color: #a8a8a8;
}

.section{
    margin: 40px 0px;
}
.intro_btn{
    border: 1px solid grey;
    text-decoration: none;
    padding: 4px 12px;
    margin-left: 12px;
    border-radius: 4px;
    
}
.p_head>a:hover{
    background-color: rgb(233, 233, 233);
    color: black;
    font-weight: bold;
}
.btn_div{
    margin-top: 16px;
    display: flex;
}
.skill-logos{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px 4px;
    flex-wrap: wrap;
}
.c_container{
    display: flex;
    justify-content: space-between;
    padding: 28px 4px;
    flex-wrap: wrap;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 60%;
    
}
.input{
    border: 1px solid grey;
    margin: 8px 0px;
    padding: 24px 8px;
}
.message>input:nth-child(3){
    height: 100px;
    text-align: start;
}
.message>p{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.message>p>input{
    width: 50%;
}
.c_details{
    line-height: 24px;
}
.c_details>h4{
    color: rgb(233, 233, 233);;
}
.c_details>p{
    margin-bottom: 24px;
    letter-spacing: 3px;
}

@media screen and  (max-width: 550px) {
    *{
        text-align: center;
    }
    a{
        align-self: center;
    }
    input{
        text-align: left;
    }
    #navbar{
        flex-direction: column;
        
    }
    .intro_btn{
        
        text-align: center;
    }
    .top_img{
        margin-top: 24px;
        /* border: 1px solid; */
        align-self: center;
    }
    .top_img>img{
        width: 100%;
    }
    .top{
        flex-direction: column;
    }
    .btn_div{
        /* border: 1px solid; */
        padding: 4px;
    }
    .project{
        flex-direction: column;
    }
    .p_head{
        width: 100%;
    }
    .p_detail{
        width: 100%;
    }
}
.p_head>a{
   padding: 4px 10px;
   font-size: 14px;
    
}
.message{
    width: 100%;
    
}